<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookHub | <%= author.authorName %></title>
    <link rel="icon" href="/images/main/BookHub-logo-mini.png" type="image/png">
    <link rel="stylesheet" href="/css/style-for-all.css">
</head>

<body>

    <%- include("../partials/navbar") %>

        <h1><%= author.authorName %></h1>

        <img src="/images/authors/<%=author.profilePhoto%>" alt="profilePhoto" style="width: 90px; height: 120px; object-fit: cover;">


        <p>Full Name: <%= author.fullName %></p>

        <p>Birth Date: <%= author.birthDate? author.birthDate.toLocaleDateString("en-GB")
        : "Unknown" %></p>
        
        <p>Death Date: <%= author.deathDate? author.deathDate.toLocaleDateString("en-GB")
        : "Still Alive"%></p>
        
        <p>Nationality: <%= author.nationality %></p>
                
        <p>Followers: <%= author.followers.length %></p>

        <p>Books By Author:</p>

        <% for (let book of booksByAuthor) { %>
            <ul>
                <li><a href="/valley/<%= book._id %>"><%= book.title %></a></li>
            </ul>
        <% } %>



        <% if(user && author.followers.some((oneId) => oneId.equals(user._id))) { %>
            <form action="/authors/<%= author._id %>/unfollow" method="POST">
                <button>Unfollow</button>
            </form>
        <% } else { %>
            <form action="/authors/<%= author._id %>/follow" method="POST">
                <button>Follow</button>
            </form>
        <% } %>

</body>

</html>