<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookHub | Update Library</title>
    <link rel="icon" href="/images/main/BookHub-logo-mini.png" type="image/png">
    <link rel="stylesheet" href="/css/style-for-all.css">
</head>

<body>

    <%- include("../partials/navbar") %>

        <aside class="toTheLeft">
            <img src="/images/books/<%=myBookEdit.book.coverPhoto%>" alt="coverPhoto" style="width: 90px; height: 120px; object-fit: cover;">

            <p><%= myBookEdit.book.title %></p>

            <p>Authors:</p>
            <% for (let author of myBookEdit.book.authors) { %>
                <ul>
                <li><%= author.authorName %></li>
                </ul>
            <% } %>

            <p>Publish Date:</p>
            <p><%= myBookEdit.book.publishedDate? myBookEdit.book.publishedDate.toLocaleDateString("en-GB")
                    : "Unknown" %></p>

            <p>About:</p>
            <p><%= myBookEdit.book.description %></p>

            <p>Genres:</p>
            <% for (let genre of myBookEdit.book.genres) { %>
                <ul>
                <li><%= genre.genre %></li>
                </ul>
            <% } %>

            <p>Page Count:</p>
            <p><%= myBookEdit.book.pageCount %></p>
            
            <p>Likes: <%= myBookEdit.book.likes.length %></p>
        </aside>

        <section>
            <p>Update <%= myBookEdit.book.title %></p>

            <form action="/mylibrary/<%= myBookEdit._id %>/edit?_method=PUT" method="POST">

                <label for="status">Reading Status:</label>
                <select name="status" id="status">
                    <option value="Want to Read">Want to Read</option>
                    <option value="Reading">Reading</option>
                    <option value="Finished">Finished</option>
                    <option value="Dropped">Dropped</option>
                </select>

                <label for="dateStarted">Date Started:</label>
                <input type="date" name="dateStarted" id="dateStarted">

                <label for="dateFinished">Date Finished:</label>
                <input type="date" name="dateFinished" id="dateFinished">

                <label for="notes">Notes:</label>
                <input type="text" name="notes" id="notes" maxlength="500"></input>

                <button type="submit">Update</button>
            </form>
        </section>

</body>

</html>