<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookHub | Update Library</title>
    <link rel="icon" href="/images/main/BookHub-logo-mini.png" type="image/png">
    <link rel="stylesheet" href="/css/style-for-all.css">
    <link rel="stylesheet" href="/css/update-library.css">
</head>

<body>

    <%- include("../partials/navbar") %>

        <div class="edit-container">

            <aside class="book-card">

                <img src="/images/books/<%=myBookEdit.book.coverPhoto%>" alt="coverPhoto">


                <h2>
                    <%= myBookEdit.book.title %>
                </h2>


                <h3>Authors</h3>

                <% for(let author of myBookEdit.book.authors){ %>

                    <p>
                        <%= author.authorName %>
                    </p>

                    <% } %>



                        <h3>Published</h3>

                        <p>
                            <%= myBookEdit.book.publishedDate ?
                                myBookEdit.book.publishedDate.toLocaleDateString("en-GB") : "Unknown" %>
                        </p>



                        <h3>Description</h3>

                        <p>
                            <%= myBookEdit.book.description %>
                        </p>



                        <h3>Genres</h3>

                        <% for(let genre of myBookEdit.book.genres){ %>

                            <p>
                                <%= genre.genre %>
                            </p>

                            <% } %>



                                <h3>Page Count</h3>

                                <p>
                                    <%= myBookEdit.book.pageCount %>
                                </p>


                                <h3>Likes</h3>

                                <p>
                                    <%= myBookEdit.book.likes.length %>
                                </p>

            </aside>




            <section class="update-card">

                <h2>
                    Update your Reading Progress
                </h2>


                <form action="/mylibrary/<%= myBookEdit._id %>/edit?_method=PUT" method="POST">


                    <label for="status">
                        Reading Status
                    </label>

                    <select name="status" id="status">

                        <option value="Want to Read">
                            Want to Read
                        </option>

                        <option value="Reading">
                            Reading
                        </option>

                        <option value="Finished">
                            Finished
                        </option>

                        <option value="Dropped">
                            Dropped
                        </option>

                    </select>



                    <label for="dateStarted">
                        Date Started
                    </label>

                    <input type="date" name="dateStarted" id="dateStarted">



                    <label for="dateFinished">
                        Date Finished
                    </label>

                    <input type="date" name="dateFinished" id="dateFinished">



                    <label for="notes">
                        Notes
                    </label>

                    <input type="text" name="notes" id="notes" maxlength="500">



                    <button type="submit">
                        Update
                    </button>

                </form>

            </section>

        </div>

</body>

</html>