<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookHub | My Library</title>
    <link rel="icon" href="/images/main/BookHub-logo-mini.png" type="image/png">
    <link rel="stylesheet" href="/css/style-for-all.css">
    <link rel="stylesheet" href="/css/mylibrary.css">
</head>

<body>

    <%- include("../partials/navbar") %>

        <h1>My Library</h1>

        <section class="library-container">

            <% for(let addedBook of mylibrary){ %>

                <div class="library-card">

                    <img src="/images/books/<%=addedBook.book.coverPhoto%>" alt="coverPhoto">


                    <a class="title" href="/valley/<%= addedBook.book._id %>">

                        <%= addedBook.book.title %>

                    </a>


                    <p>
                        <strong>Status:</strong>
                        <%= addedBook.status %>
                    </p>


                    <p>
                        <strong>Started:</strong>

                        <%= addedBook.dateStarted ? addedBook.dateStarted.toLocaleDateString("en-GB") : "Not started" %>
                    </p>



                    <p>
                        <strong>Finished:</strong>

                        <%= addedBook.dateFinished ? addedBook.dateFinished.toLocaleDateString("en-GB") : "Not finished"
                            %>
                    </p>



                    <p>
                        <strong>Notes:</strong>

                        <%= addedBook.notes || "No notes yet." %>
                    </p>



                    <div class="buttons-row">

                        <form action="/mylibrary/<%= addedBook._id %>/favorite" method="POST">

                            <button title="Favorite">

                                <%= addedBook.isFavorited ? "🩷" : "🩶" %>

                            </button>

                        </form>



                        <form action="/mylibrary/<%= addedBook._id %>/finish" method="POST">

                            <button title="Finished Reading?">

                                <%= addedBook.status==="Finished" ? "📘" : "📖" %>

                            </button>

                        </form>

                    </div>



                    <div class="buttons-row">

                        <form action="/mylibrary/<%= addedBook._id %>/edit" method="GET">

                            <button title="Update">
                                📝
                            </button>

                        </form>



                        <form action="/mylibrary/<%= addedBook._id %>?_method=DELETE" method="POST"
                            onsubmit="return confirm('This action cannot be undone. Are you sure you want to remove this book from your library?')">

                            <button title="Delete">
                                ❌
                            </button>

                        </form>

                    </div>

                </div>

                <% } %>

        </section>

</body>

</html>