<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        BookHub | <%= book.title %>
    </title>
    <link rel="icon" href="/images/BookHub-logo-mini.png" type="image/png">
    <link rel="stylesheet" href="/css/style-for-all.css">
</head>

<body>

    <%- include("../partials/navbar") %>

        <h1><%= book.title %></h1>

        <img src="/images/<%=book.coverPhoto%>" alt="coverPhoto" style="width: 90px; height: 120px; object-fit: cover;">
        
        <p>Authors: <% for (let author of book.authors) { %>
                        <%= author.authorName %><br> 
                    <% } %></p>

        <p>Published: <%= book.publishedDate? book.publishedDate.toLocaleDateString("en-GB")
        : "Unknown" %></p>
        
        <p>Description: <%= book.description %></p>
        
        <p>Genres: <% for (let genre of book.genres) { %>
                        <%= genre.genre %><br>
                    <% } %></p>
        
        <p>Page Count: <%= book.pageCount %></p>
        
        <p>Likes: <%= book.likes.length %></p>

</body>

</html>